<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registration Form in HTML CSS</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="{% static 'css/add.css' %}" />
  </head>
  <form method="post">
    {% csrf_token %}
    <section class="container">
      <header>Create Job Postings</header>
      <action action="#" class="form">
        <div class="input-box">
          <label>Company name</label>
          {{form.company}}
        </div>

        <div class="input-box">
          <label>Logo</label>
          {{form.logo}}
        </div>
        <div class="gender-box">
            <h3>Status</h3>
          <div class="gender-option">
            <div class="gender">
              {{form.new}}
              <label for="check-male">New</label>
            </div>
            <div class="gender">
              {{form.featured}}
              <label for="check-female">Featured</label>
            </div>
          </div>
        </div>
        <div class="input-box address">
          <label>Location</label>
          {{form.location}}
          <div class="column">
            <div class="select-box">
              {{form.level}}
            </div>
            <div class="select-box">
                  {{form.contract}}
                
            </div>
            <div class="select-box">
                  {{form.role}}
              </div>
          </div>
          <div class="column">
            <div class="input-box">
                <label>Languages</label>
                <div class="tabs" id="languagetabs">

                </div>
                <input type="text" id="SlanguageInput" name="language">
                <div class="add_tab">
                    
                    <input type="text" placeholder="Add languages" id="languageInput" />
                    <button id="addLanguage" type="button">Add</button>
                </div>
              </div>
          </div>
          <div class="column">
            <div class="input-box">
                <label>Tools</label>
                <div class="tabs" id="toolTabs">
                </div>
                <input type="text" id="StoolsInput" name="tools">
                <div class="add_tab">
                    <input type="text" placeholder="Add Tools" name ="toolsInput" id="toolsInput"/>
                    <button id="addTool" type="button">Add</button>
                </div>
              </div>
          </div>
        </div>
        <button type="submit">Submit</button>
    </action>
    
    </section>
</form>
  </body>
  <script src="{% static 'JS/main.js' %}"></script>
</html>
