<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job listing website</title>
    <!--Custom style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Boxicon CDN-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}"><i class='bx bx-left-arrow-circle'></i>Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
</body>
</html>