<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job listing website</title>
    <!--Custom style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Boxicon CDN-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
         <nav>
            <ul>
                <li><a href="{% url 'add' %}" class="btn"><i class='bx bx-plus-circle'></i>Add Job posting</a></li>
            </ul>
         </nav>
    </header>
    <main>
        {% for listing in listings%}
        <div class="card">
            <div class="left">
                <div class="profile">
                    <img src="{{listing.logo}}">
                </div>
                <div class="body">
                    <div class="top">
                        <div class="title">
                            <p>{{listing.company}}</p>
                        </div>
                        {% if listing.new %}
                        <div class="top-tags">
                            <p class="lightTag">new</p>
                        </div>
                        {% endif %}
                        {% if listing.featured %}
                        <div class="top-tags">
                            <p class="darkTag" >featured</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="main">
                        <p>{{listing.position}}</p>
                    </div>

                    <div class="bottom">
                        <div>
                            <h5>{{listing.posted_calculator}}</h5>
                        </div>

              

                        <div>
                            <h5>{{listing.role}}</h5>
                        </div>
                        <div>
                            <h5>{{listing.location}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="tags">
                    <div>
                        <p>{{listing.role}}</p>
                    </div>
                    <div>
                        <p>{{listing.level}}</p>
                    </div>
                    {% for language in listing.language.all %}
                    <div>
                        <p>{{language}}</p>
                    </div>
                    {% endfor%}
                    {% for tool in listing.tools.all %}
                    <div>
                        <p>{{tool}}</p>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        {% endfor%}
        <div class=""></div>
    </main>
</body>
</html>