/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(130, 106, 251);
}
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

::selection{
    color: #fff;
    background: #5372F0;
  }
  .wrapper{
    width: 496px;
    background: #fff;
    border-radius: 10px;
    padding: 18px 25px 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.06);
  }
  .wrapper :where(.title, li, li i, .details){
    display: flex;
    align-items: center;
  }
  .title img{
    max-width: 21px;
  }
  .title h2{
    font-size: 21px;
    font-weight: 600;
    margin-left: 8px;
  }
  .wrapper .content{
    margin: 10px 0;
  }
  .content p{
    font-size: 15px;
  }
  .content ul{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
  }
  .content ul  li{
    color: #333;
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    background: #F2F2F2;
    padding: 5px 8px 5px 10px;
    border: 1px solid #e3e1e1;
  }
  .content ul li i{
    height: 20px;
    width: 20px;
    color: #808080;
    margin-left: 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
  }
  .content ul input{
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  .wrapper .details{
    justify-content: space-between;
  }
  .details button{
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 9px 15px;
    border-radius: 5px;
    background: #5372F0;
    transition: background 0.3s ease;
  }
  .details button:hover{
    background: #2c52ed;
  }

  .tabs {
    margin: 0.5rem 0;
    display: flex;
  }
  .tabs .tab{
    background-color: #ddd;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    width: fit-content;
    display: flex;
    align-items: center;
  }
  .selected-tab{
    background-color: #5372F0;
  }
  .tabs .tab p{
    font-size: 0.8rem;
  }
  .tabs .tab i{
    padding-left: 0.25rem;
    font-size: 1rem;
  }
  .add_tab{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: baseline;
  }
  .add_tab input{
    margin-right:1rem ;
    margin:0;
    width:95%;
  }
  .add_tab button{
    margin: 0.25rem 0;
  }
  .add_tab #btn{
    width: 100%;
    margin: 0;
    padding: 4px;
    border-radius: 0.25rem;
    outline: none;
    font-size: 16px;
  }

input#StoolsInput {
    display: none;
}
input#SlanguageInput {
  display: none;
}